@font-face {
    font-family: SFBlack;
    src: url(./Font/SF-Pro-Display-Black.otf);
}
@font-face {
    font-family: SFBlackIt;
    src: url(./Font/SF-Pro-Display-BlackItalic.otf);
}
@font-face {
    font-family: SFBold;
    src: url(./Font/SF-Pro-Display-Bold.otf);
}
@font-face {
    font-family: SFBoldIt;
    src: url(./Font/SF-Pro-Display-BoldItalic.otf);
}
@font-face {
    font-family: SFHeavy;
    src: url(./Font/SF-Pro-Display-Heavy.otf);
}
@font-face {
    font-family: SFHeavyIt;
    src: url(./Font/SF-Pro-Display-HeavyItalic.otf);
}
@font-face {
    font-family: SFLight;
    src: url(./Font/SF-Pro-Display-Light.otf);
}
@font-face {
    font-family: SFLightIt;
    src: url(./Font/SF-Pro-Display-LightItalic.otf);
}
@font-face {
    font-family: SFMedium;
    src: url(./Font/SF-Pro-Display-Medium.otf);
}
@font-face {
    font-family: SFMediumIt;
    src: url(./Font/SF-Pro-Display-MediumItalic.otf);
}
@font-face {
    font-family: SFRegular;
    src: url(./Font/SF-Pro-Display-Regular.otf);
}
@font-face {
    font-family: SFRegularIt;
    src: url(./Font/SF-Pro-Display-RegularItalic.otf);
}
@font-face {
    font-family: SFsBold;
    src: url(./Font/SF-Pro-Display-Semibold.otf);
}
@font-face {
    font-family: SFsBoldIt;
    src: url(./Font/SF-Pro-Display-SemiboldItalic.otf);
}
@font-face {
    font-family: SFThin;
    src: url(./Font/SF-Pro-Display-Thin.otf);
}
@font-face {
    font-family: SFThinIt;
    src: url(./Font/SF-Pro-Display-ThinItalic.otf);
}
@font-face {
    font-family: SFUltLig;
    src: url(./Font/SF-Pro-Display-Ultralight.otf);
}
@font-face {
    font-family: SFUltLigIt;
    src: url(./Font/SF-Pro-Display-UltralightItalic.otf);
}

body {
    margin: 0;
    background-image: url("./wall.png");
    position: fixed;
    height: 100%;
    width: 100%;
    background-attachment: local;
    background-size: cover;
    background-position: center;
    justify-content: center;
    justify-self: baseline;
    overflow: hidden;
    cursor: none;
    font-family: SFRegular;
    letter-spacing: 0.6px;
    border-radius: 20px;
}

h1 {
    font-family: SFBold;
}
h2 {
    font-family: SFBold;
}
.h3 {
    font-family: SFBold;
    font-size: 15px;
}
h4 {
    font-family: SFBold;
}
h5 {
    font-family: SFBold;
}
h6 {
    font-family: SFBold;
}

html {
    background-color: black;
}

#dock {
    position: fixed;
    bottom: 15px;
    background-color: #2229;
    padding: 3px;
    padding-bottom: 1px;
    border-radius: 16px;
    backdrop-filter: blur(30px) saturate(2);
    z-index: 0;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
    height: 72.5px;
}

#dock img {
    margin: 10px;
    border-radius: 10px;
}

img::selection {
    background-color: transparent;
}

#table * {
    margin: 0;
}

#table img {
    border: none;
    margin: 0;
    border-radius: 10px;
}

#table {
    width: 100%;
    height: 85%;
    margin: 15px;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
}

.center {
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.centerIn {
    display: inline-flex;
    justify-content: center;
    border-radius: 15px;
}

* {
    color: #fff;
    font-size: 10px;
}

.text {
    margin: 4px;
}

#control-center-trig {
    position: fixed;
    top: 0;
    right: 20px;
    height: 20px;
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 4px;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
    font-size: 11px;
}

#CC {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
    justify-content: flex-end;
    backdrop-filter: blur(0px);
    padding: 20px;
    top: 0;
    opacity: 0;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
}

#controlCenter {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 0;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
    padding: 40px;
    top: -100%;
    right: 0;
    opacity: 1;
    border-radius: 21px;
    overflow-y: hidden;
}
#controlCenter table {
    display: block;
}

.controls-2-2 {
    background-color: #2229;
    height: 106px;
    width: 106px;
    border-radius: 15px;
    margin: 2.5px;
}

.controls-1-1 {
    background-color: #2229;
    height: 48px;
    width: 48px;
    border-radius: 15px;
    margin: 2.5px;
}

.controls-1-2 {
    background-color: #2229;
    height: 48px;
    width: 106px;
    border-radius: 15px;
    margin: 2.5px;
}

#bD {
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
}

.seperator {
    height: 100%;
    width: 100px;
    display: inline-block;
    background-color: black;
    backdrop-filter: saturate(5);
}

.widget-1-2 {
    height: 106px;
    width: 270px;
    background-color: #2228;
    border-radius: 12px;
    backdrop-filter: blur(30px) saturate(2);
}

#home-widgets {
    width: 100px;
    height: 100%;
    display: inline;
}

.right {
    display: flex;
    justify-content: right;
}

#app {
    background: #000;
    display: none;
    overflow: hidden;
}

#home-bar {
    width: calc(100% / 4);
    height: 5px;
    background-color: #fffa;
    backdrop-filter: invert(1) blur(30px) contrast(10000);
    position: fixed;
    bottom: -10px;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0, 0, 0.03, 0.95);
    z-index: 2;
}

.c-cursor {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    border-radius: 200px;
    background-color: #fff9;
    backdrop-filter: invert(1) saturate(0);
    opacity: 0.5;
    transition: background-color 0.2s ease-in-out;
}

.c-cursor_active {
    background-color: #fffa;
    opacity: 0.5;
    backdrop-filter: none;
}

.c-cursor-lift_active {
    background-color: #fff9;
    backdrop-filter: invert(1) saturate(0);
    opacity: 0.5;
    backdrop-filter: none;
}
.toggle-circle {
    margin: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.533);
    border-radius: 50%;
    transition: background-color 0.5s;
    height: 36px;
    width: 36px;
}

#slider-brightness {
    background-color: #2229;
    height: 106px;
    width: 48px;
    border-radius: 15px;
    margin: 2.5px;
    overflow: hidden;
    transform: rotate(180deg);
}

#slider-volume {
    background-color: #2229;
    height: 106px;
    width: 48px;
    border-radius: 15px;
    margin: 2.5px;
    overflow: hidden;
    transform: rotate(180deg);
}
#sliderBr {
    background-color: #fff;
    width: 100%;
}
#sliderVo {
    background-color: #fff;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    body {
        background-image: url('./light.png');
    }
    #dock {
        background-color: #fff8;
    }
    #app {
        background: #fff;
    }
}